
<div class="jumbotron jumbotron-lending">
  <h1 class="display-5">О проекте</h1>
  <p class="lead">Instaphoto - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolore doloremque error fugiat ipsa neque quam? Consequatur libero odit perspiciatis. Aliquam, animi aspernatur assumenda, culpa debitis deserunt dolore eum fuga illum ipsum libero magnam minus nobis optio possimus repellendus veniam, vitae voluptates. Culpa enim harum libero minima quaerat tempora tempore.</p>
</div>

