
<!--<div class="jumbotron jumbotron-lending">-->
  <!--<h1 class="display-5">Делитесь своими эмоциями</h1>-->
  <!--<p class="lead">Размещайте свои фотографии и подписывайтесь на публикации друзей</p>-->
  <!--<hr class="my-4">-->
  <!--<a class="btn btn-danger" href="#" role="button">Создать аккаунт</a>-->
  <!--<a class="btn btn-info" href="#" role="button">Войти</a>-->
<!--</div>-->

<div class="sss ">
  <h1>Делись своими эмоциями</h1>
  <p class="">Размещайте свои фотографии и подписывайтесь на публикации друзей</p>
  <hr class="my-4">
  <a class="btn btn-danger" href="#" role="button">Создать аккаунт</a>
  <a class="btn btn-info" href="#" role="button">Войти</a>
</div>



